* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    padding: 2rem 2rem 2rem 2rem;
}
/*header*/
a {
    color:#fed049; 
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
   
}
/*Logo*/
h2 {
    font-family: Cedarville Cursive;
    font-size: 60px;
    color:#ABAAAB;
    line-height: 137px;
    font-style : normal;
    font-weight: normal;
}
nav {
    color: #ABAAAB;
    padding: 1vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
ul#main-menu {
    list-style: none;
    display: flex;
}
.menuitem {
    padding: 1vw;
}
.menuitem:hover {
    opacity: 0.8;
}

/*Main*/
main {
    background: url("img/otras\ sucus.JPG");
    background-color: rgb(100,100,100);
    background-blend-mode: soft-light;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}  

/*Amaicha Deco Titulo principal*/ 
h1 {
    font-family: Cedarville Cursive;
    font-weight: normal;
    font-size: 150px;
    line-height: 86px;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 2%;
    z-index: 1;
}
h3 {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 50px;
    line-height: 86px;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    z-index: 1; 
}
/*Btn hambueguesa*/
#burger-menu-toggler {
    display: none;
    position: absolute;
    border: none;
    background-color: #fed049;
    margin: 5px;
    right: 0px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 999; 
}
/*Macetas pintadas a mano con amor*/ 
#seccion1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    margin-top: 10%;
    border-width: thick;
    border-style:dashed;
    border-color: #d8ebe4;
    padding: 5% 0%;
}
#Leyenda {
    font-family: Basic;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 50px;
    line-height: 80px;
}
#Firma {
    font-family: Basic;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 35px;
    line-height: 80px;
}
i {
    color: grey;
    font-size: 40px;
}

/*MODELOS*/ 
#modelos {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fed049;
    margin-top: 10%;
    padding: 5%;
}
#Modelos2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fed049;
    padding: 5%;
}

.maceta {
    width:100%;
    height: auto;
    padding: 5%;
    align-items: center;
    border-width: thick;
    border-style:dashed;
    border-color: #d8ebe4;
    
}
/*ARTICULO SOBRE MI*/ 

article#sobremi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10% 0%;
}
#sobremitexto{
    text-align: justify;
    font-size: 20px;
    padding-right: 5%;
   
}
.sobremiimg {
    width: 40%;
    box-shadow: 3px 3px 5px 3px  #999;
    border-radius: 8px;
}
#contactos {
    text-align: center;
    padding: 10% 0%
}
#bordeform {
    border-width: thick;
    border-style:dashed;
    border-color: #d8ebe4;
    padding: 5% 0%;
}
h4 {
    color: #ABAAAB;
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    text-align: center;

}
input.texto {
    width: 50%;
    height: 30px;
    border-radius: 4px;
}
#button {
    width: 50%;
    height: 30px;
    border-radius: 4px;
}
#button:hover {
    background-color:  #fed049;
    color: #d8ebe4;
}
textarea {
    width: 50%;
    height: 100px;
}
#mapa {
    padding: 5% 0%;
    width: 100%;
}
footer {
    display: flex;
    position: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;  
    height: 80px;
    background-color: cadetblue;
    padding: 5%;
    margin: 0%;
}
footer i {
    color: #fed049;
    font-size: 40px;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 110px;
    }
    h3 {
        font-size: 30px;
    } 
    a {
        font-size: 20px;
    }  
    #Leyenda {
        font-size: 45px;
    }
    #Firma {
        font-size: 30px;
    }
    #modelos {
        flex-direction: column;
    }
    #Modelos2 {
        flex-direction: column;
    }
    article#sobremi {
        margin: 10% 5%;
        flex-direction: column;
    }
    .sobremiimg {
        width: 100%;
    }
    #sobremitexto {
        font-size: 20px;
        padding-bottom: 5%;
    }
}
@media (max-width: 754px) {
    h1 {
        font-size: 85px;
        line-height: 50px;
    }
    h3 {
        font-size: 20px;
    }
    h2 {
        font-size: 50px;
    }
    a {
        font-size: 15px;
    }  
    main {
        height: 70vh;
    }
    #seccion1 {
        height: 40vh;
        padding: 1%;
    }
    #Leyenda {
        font-size: 40px;
    }
    #Firma {
        font-size: 25px;
    }
}    
@media (max-width: 663px) {
    body {
        padding: 0;
    }
    h1 {
        font-size: 65px;
        line-height: 35px;
    }
    h3 {
        font-size: 20px;
    }
    h2 {
        display: none;
    }

    ul#main-menu {
        display: none;
    }
    header {
        height: 0rem;
    }
      
    #burger-menu-toggler {
        display: block;
    }
    #close-mobile-menu {
        display: none;
    }
    main {
        padding: 0;
        height: 60vh;
    }
    #seccion1 {
        height: 35vh;
        padding: 0;
    }
    #Leyenda {
        font-size: 35px;
    }
    #Firma {
        font-size: 25px;
    }
    i {
    font-size: 20px;
    } 
    #sobremitexto {
        font-size: 18px;
    }    
    
    body.mobile-menu-active Header #open-mobile-menu {
        display: block;
    }
    body.mobile-menu-active Header #close-mobile-menu {
        display: none;
    }
    body.mobile-menu-active #main-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        background: #9932CC;
    }
    body.mobile-menu-active .menuitem a {
        font-size: 30px;

    }
}     
@media (max-width: 545px) {
    h1 {
        font-size: 60px;
        line-height: 30px;
    }
    h3 {
        font-size: 15px;
    }
   
    main {
        height: 55vh;
    }
    #seccion1 {
        height: 30vh;
    }
    #Leyenda {
        font-size: 25px;
        line-height: 50px;
    }
    #Firma {
        font-size: 15px;
    }
    i {
        font-size: 18px;
    } 
    h4 {
        font-size: 25px;
    }
    body.mobile-menu-active .menuitem a {
        font-size: 20px;
    }
} 
@media (max-width: 366px) {
    body {
        padding: 0;
    }
    h1 {
        font-size: 50px;
        line-height: 15px;
    }
    h3 {
        font-size: 20px;
    }
    main {
        height: 55vh;
    }
    #seccion1 {
        height: 25vh;
       padding-top: 5%;
    }
    #Leyenda {
        font-size: 20px;
        line-height: 10px;
    }
    #Firma {
        font-size: 10px;
    }
    i {
        font-size: 10px;
    }
    textarea {
        height: 50px;
    }
    body.mobile-menu-active .menuitem a {
        font-size: 10px;
    }
}
